  /* in order to make footer appear at bottom: set html height and body html to 100% */
/* {
  height: 100%;
}
*/

body {
  /*height: 100%;*/
  background-color: #F2E6DC;
  font: 300 100%/1.6 'Open Sans Condensed', sans-serif;
}

/* temporary borders for checking container sizes
/*during transitions from pc to mobile devices:

.top-row, .big-container {
border: solid;
border-width: 0px;
border-color: #000; 
}
*/

.big-container,
.top-row,
.instructions {
  text-align: center;
}

h4 {
  line-height: 11px;
}

.headline-hr {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  text-align: center;
  border-color: #DEC8B6;
  font-size: 1%;
}

.menu-lines {
  margin-top: -.4em;
  margin-bottom: .01ß em;
  width: 24px;
}

/* position the info icon that has the 3 horizontal lines*/
.info {
  text-align: left !important;
  padding: 19px;
}

.email-address {
  text-align: center; important!;
}

.social-icon {
  text-align: center; important!;
}

/* set the size for the single line of instructions below the headline */
.instructions {
  font-size: 155%;
}

/* make the first letter big to guide the eye */
.big-letter {
  font-size: 144%;
}

/* set spacing and color of horizontal divider lines in the dropdowns*/
hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-color: #DEC8B6;
}


/* adjust the size of the buttons with the note names */
.dropdown-toggle {
  width: 100%;
  text-align: center;
}


/* adust the size of the chords listed in the dropdowns */
.dropdown-menu {
  min-width: 100%;
  background-color: #F5EAE1 !important;
  /*override the default */
  text-align: center;
  font-size: 144%;
}

/* customize the colors of the bootstrap buttons */
.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  color: #000000 !important;
  background-color: #DCF2E4 !important;
  border-color: #DCF2E4 !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #000000 !important;
  background-color: #DEC8B6 !important;
  border-color: #DEC8B6 !important;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  color: #000000 !important;
  background-color: #F5F3E6 !important;
  border-color: #F5F3E6 !important;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  color: #000000 !important;
  background-color: #F7D9D7 !important;
  border-color: #F7D9D7 !important;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus {
  color: #000000 !important;
  background-color: #EAED98 !important;
  border-color: #EAED98 !important;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:focus {
  color: #000000 !important;
  background-color: #AFCDF0 !important;
  border-color: #v !important;
}

.btn {
  margin: 3px;
  box-shadow: 3px 2px 0 0 #DBD2CA;
}

/* position the house image at the bottom of the buttons */
.house {
  position: absolute;
  top: -60px;
  opacity: .6;
  width: 444px;
}

.greeting {
  display: none;
  /*hide the greeting until the house image is clicked */
  position: relative;
  top: -44px;
  text-align: right;
  font-size: 155%;
}

.footer-look {
  position: relative;
  /* position the footer relative to the buttons, not to the house, */
  /* which may vary in size depending on user's device */
  top: 144px;
  /* leave room for the house image and house greeting*/
  /*padding-bottom: 22px !important; /* raise the footer enough so that its anchor tag can be clicked */
  background-color: #F2E6DC;
  text-align: right;
  font-size: 122%;
}

a {
  color: #333; /* make anchor tag in the footer same color as rest of text*/
}